<div class="p-3 bg-gray-100">
  <div class="mb-4 flex justify-start">
    <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow-sm hover:shadow-md transition-all transform hover:scale-105 flex items-center gap-2">
      <span class="text-xl font-semibold leading-none">+</span>
      <span>Adicionar Corredor</span>
    </button>
  </div>
  <div class="flex justify-between">
    <div class="flex-1 mx-2 p-3 bg-white rounded-lg shadow-lg max-w-xs">
      <div class="mb-2">
          <img src="https://th.bing.com/th/id/OIP.jdq2ZppaEGHTVIFsQBeXLQHaE8?rs=1&pid=ImgDetMain" alt="Descrição da imagem" class="w-full h-24 object-cover rounded-t-lg" />
      </div>
      <div class="flex items-center justify-between mb-2">
        <h3 class="text-lg font-bold text-gray-800 bg-white-200 rounded">Bebidas</h3>
        <button class="w-7 h-7 rounded-full bg-blue-500 hover:bg-blue-600 flex items-center justify-center text-white shadow-sm hover:shadow-md transition-all transform hover:scale-105" title="Adicionar categoria">
          <span class="text-xl font-semibold leading-none mb-0.5">+</span>
        </button>
      </div>
      <div class="max-h-60 overflow-y-auto">
          <ul class="list-none p-0">
              <li class="py-1 text-gray-600 hover:bg-gray-200">Águas</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Cervejas</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Chás</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Destilados</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Energéticos</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
              <li class="py-1 text-gray-600 hover:bg-gray-200">Espumantes</li>
          </ul>
      </div>
  </div>
</div>
