<app-header-password-recovery></app-header-password-recovery>

<!-- New multi-step sign-up – Etapa 01. Informações pessoais -->
<section class="bg-white">
  <div class="flex flex-col items-center justify-start px-6 pt-8 pb-8 mx-auto min-h-screen lg:py-0">


    <!-- Header estilo Validata -->


    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-xl xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <!-- Título do formulário -->
        <h2 class="text-2xl font-bold text-gray-900 text-left mb-2">1. Validação de identidade</h2>
        <div class="w-full h-px bg-gray-200 opacity-70 mb-6"></div>
        <!-- Formulário simplificado -->
        <form class="space-y-4 md:space-y-6" action="#">
          <!-- Campo único de e-mail -->
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Informe o seu e-mail</label>
            <input id="email" name="email" type="email" required
                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full py-3 px-4"
                   placeholder="Digite o seu e-mail">
            <p class="text-sm text-gray-500 mt-4">Enviaremos um código de verificação para o e-mail informado.</p>
          </div>

          <!-- Botões Voltar e Avançar -->
          <div class="flex justify-between gap-4 pt-4">
            <button (click)="voltar()" type="button"
                    class="text-gray-700 bg-gray-100 hover:bg-gray-200 border border-gray-300 font-bold rounded-lg text-lg w-48 py-3 text-center">
              Voltar
            </button>

            <button (click)="confirrmarEmail()"   type="button"
                    class="text-white bg-[#5084C1] hover:bg-[#3969a1] focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-lg w-full py-3 text-center">
              Confirmar e-mail →
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

