<app-header-auth></app-header-auth>

<!-- New multi-step sign-up – Etapa 01. Informações pessoais -->
<section class="bg-white">
  <div class="flex flex-col items-center justify-start px-6 pt-8 pb-8 mx-auto min-h-screen lg:py-0">


    <!-- Header estilo Validata -->


    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-xl xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <!-- Título do formulário -->
        <h2 class="text-2xl font-bold text-gray-900 text-left mb-2">3. Verificação de identidade</h2>
        <div class="w-full h-px bg-gray-200 opacity-70 mb-6"></div>
        <!-- Mensagem e ação de verificação -->
        <form class="space-y-4 md:space-y-6" action="#">
          <p class="text-gray-700 text-base">
            Confirme sua identidade para utilizar o Validata.
          </p>
          <p class="text-gray-700 text-base">
            Você receberá o código de verificação no e-mail <span class="font-medium">{{ emailDestino }}</span>.
          </p>
          <!-- Botões Voltar e Avançar -->
          <div class="flex justify-between gap-4 pt-4">
            <button (click)="voltar()" type="button"
                    class="text-gray-700 bg-gray-100 hover:bg-gray-200 border border-gray-300 font-bold rounded-lg text-lg w-48 py-3 text-center">
              Voltar
            </button>

            <button (click)="receberCodigo()" type="button"
                    class="text-white bg-[#5084C1] hover:bg-[#3969a1] focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-lg w-full py-3 text-center">
              Receber código →
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
