<app-header-password-recovery></app-header-password-recovery>
<!-- New multi-step sign-up – Etapa 01. Informações pessoais -->
<section class="bg-white">
  <div class="flex flex-col items-center justify-start px-6 pt-8 pb-8 mx-auto min-h-screen lg:py-0">


    <!-- Header estilo Validata -->


    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-xl xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <!-- Título do formulário -->
        <h2 class="text-2xl font-bold text-gray-900 text-left mb-2">2. Código de verificação</h2>
        <div class="w-full h-px bg-gray-200 opacity-70 mb-6"></div>
        <!-- Mensagem e código verificador -->
        <form #codigoForm="ngForm" (ngSubmit)="confirmarCodigo(codigoForm, $event)" class="space-y-6">
          <p class="text-gray-700 text-lg">
            Por favor, informe o código de verificação enviado para <span class="font-semibold">{{ emailDestino }}</span>.
          </p>

          <div>
            <label for="codigo" class="block mb-2 text-sm font-medium text-gray-900 uppercase tracking-wide">código verificador</label>
            <input #codigoInput (input)="onCodigoInput(codigoInput)" [(ngModel)]="codigo" name="codigo" id="codigo" maxlength="6" minlength="6" pattern="[0-9]{6}" required inputmode="numeric"
                   class="bg-white border-b-2 border-gray-400 focus:border-[#5084C1] block w-40 text-center text-2xl tracking-widest outline-none">
            <button type="button" (click)="reenviarCodigo()" [disabled]="isResending" class="mt-6 text-sm text-black flex items-center gap-1 hover:underline disabled:opacity-50">
              <span *ngIf="!isResending" class="material-icons text-base">refresh</span>
              <span *ngIf="isResending" class="material-icons animate-spin text-base">autorenew</span>
              <span>{{ isResending ? 'Enviando...' : 'Reenviar código' }}</span>
            </button>
          </div>
          <!-- Botões Voltar e Avançar -->
          <div class="flex justify-between gap-4 pt-4">
            <button (click)="voltar()" type="button"
                    class="text-gray-700 bg-gray-100 hover:bg-gray-200 border border-gray-300 font-bold rounded-lg text-lg w-48 py-3 text-center">
              Voltar
            </button>

            <button type="submit"
                    class="text-white bg-[#5084C1] hover:bg-[#3969a1] focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-lg w-full py-3 text-center">
              Confirmar código →
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
